<!-- <!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
</head>
<body>
    <h2>Forgot Password</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('forgot_password') }}">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>
        <button type="submit">Request Reset Token</button>
    </form>
    <p>Remember your password? <a href="{{ url_for('login') }}">Login</a></p>
    <p>Have a reset token? <a href="{{ url_for('reset_password') }}">Reset Password</a></p>
</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/styles_login.css">
</head>
<body>
    
    <div class="container">
        <img src="/static/Logo_TumorAI.jpg" alt="TumorAI Logo" class="logo">
        <h2>Forgot Password</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('forgot_password') }}">
            <label>Username:</label><br>
            <input type="text" name="username" required><br><br>
            <button type="submit">Request Reset Token</button>
        </form>
        <p>Remember your password? <a href="{{ url_for('login') }}">Login</a></p>
        <p>Have a reset token? <a href="{{ url_for('reset_password') }}">Reset Password</a></p>
    </div>
</body>
</html>
