<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles_login.css">
</head>
<body>
    
    <div class="container"> 
        <img src="/static/Logo_TumorAI.jpg" alt="TumorAI Logo" class="logo">
        <h2>Login</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <label>Username:</label><br>
            <input type="text" name="username" required><br><br>
            <label>Password:</label><br>
            <input type="password" name="password" required><br><br>
            <button type="submit">Login</button>
        </form>
        <p>No account? <a href="/signup">Sign up here</a></p>
        <p><a href="{{ url_for('forgot_password') }}">Forgot your password?</a></p>
        <p><a href="{{ url_for('find_username') }}">Find your username?</a></p>
    </div>
</body>
</html>